.park-image {
	padding: 10px 10px 10px 10px;
	width: 100%;
}

#submitButton {
	margin: 20px 10px 10px 0px;
}

.error {
	color:red;
}

.surveyTitle {
	font-size:24px;
	position: relative;
	left: 60px;
}

.top-padding {
	padding-top: 5px;
}

.red-background {
	background:rgba(250,0,0,0.5);
}

